<div>
  <h3>What has interested you in the news?</h3>
  <form method="post" action='/question_one'>
    <input type="radio" name="question_one" value="environment"> A. The debate over plastic straws<br>
    <input type="radio" name="question_one" value="wealth-distribution"> B. Discussions about income inequality<br>
    <input type="radio" name="question_one" value="gender-inequality"> C. Articles about the Women’s March <br>
    <input type="submit" value="Submit">
  </form>  
</div>
 