<div>
  <h3>Are you more interested in:</h3>
  <form method="post" action='/question_four'>
    <input type="radio" name="question_four" value="environment"> A. Working with nature<br>
    <input type="radio" name="question_four" value="wealth-distribution"> B. Building and construction<br>
    <input type="radio" name="question_four" value="gender-inequality"> C. Working in groups of people <br>
    <input type="submit" value="Submit">
  </form>  
</div>
 