<div>
  <h3>Do you enjoy: </h3>
  <form method="post" action='/question_three'>
    <input type="radio" name="question_three" value="environment">  A. Hands-on activities<br>
    <input type="radio" name="question_three" value="wealth-distribution"> B. Learning about different communities<br>
    <input type="radio" name="question_threee" value="gender-inequality"> C. Discussing issues with people <br>
    <input type="submit" value="Submit">
  </form>  
</div>