<div>
  <h3>Do you have skills or experience in:</h3>
  <form method="post" action='/question_five'>
    <input type="radio" name="question_five" value="environment"> A. Thinking of sustainable solutions<br>
    <input type="radio" name="question_five" value="wealth-distribution"> B. Encouraging people to raise money<br>
    <input type="radio" name="question_five" value="gender-inequality"> C. Advocating for social equality<br>
    <input type="submit" value="Submit">
  </form>  
</div>
 