<div>
  <h3>Which volunteering opportunity interests you the most?</h3>
  <form method="post" action='/question_two'>
    <input type="radio" name="question_two" value="environment"> A. Sending materials to help disaster relief<br>
    <input type="radio" name="question_two" value="wealth-distribution"> B. Fundraising for impoverished communities<br>
    <input type="radio" name="question_two" value="gender-inequality">  C. Educating young people about gender inequality<br>
    <input type="submit" value="Submit">
  </form>  
</div>
 