

body {
  background-color: #FFF7F8;
}

  .container {
    display: block;
    position: relative;
    padding-left: 15px;
    margin-bottom: 9px;
    cursor: pointer;
    font-size: 15px;}
 
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;}

.checkmark { position: absolute; 
  top: 0;
  left: 0; 
  height:25px; 
  width: 25px; 
  background-color: #eee;}
  
  .container:hover input ~ .checkmark {
    background-color: #ccc;}
    .container input:checked ~ .checkmark {
    background-color: purple;}
    
.checkmark:after {content: ""; position: absolute; display: none;}
    .container input:checked ~ .checkmark:after {
    display: block; }
    
    .container .checkmark:after {
    left: 9px;
    top: 5px;
    width:  10px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);}


.anything {
 text-align: center; /* center checkbox horizontally */
  
}

.knockout {
  
/*HEAD*/
/*  -webkit-text-fill-color: url(https://i.pinimg.com/originals/50/90/e2/5090e2f8da9f8a3af371a6925010f95e.jpg*/
/*  ) -80px -80px;*/
/*  -webkit-background-clip: text;*/
/*  font-weight: bold;*/
/*  font-size: 80px;*/
/*  font-family: arial, helvetica;*/
/*width: 600px;*/
/* margin: 50px auto;*/
/* text-align: center;*/
/*-webkit-text-fill-color: url(https://i.pinimg.com/originals/50/90/e2/5090e2f8da9f8a3af371a6925010f95e.jpg*/
/*  ) -80px -80px;*/
/*-webkit-text-stroke-width:3px;*/
/*-webkit-text-stroke-width: black;*/

body{
  background: #F3FFFA;
/*=======*/
/*  -webkit-text-fill-color: url(https://i.pinimg.com/originals/50/90/e2/5090e2f8da9f8a3af371a6925010f95e.jpg*/
/*  ) -80px -80px;*/
/*  -webkit-background-clip: text;*/
/*  font-weight: bold;*/
/*  font-size: 80px;*/
/*  font-family: arial, helvetica;*/
/*  width: 600px;*/
/*  margin: 50px auto;*/
/*  text-align: center;*/
/*}*/

body{
  background: #444;
/*>>>>>>> ae1917fa019fe183e8b3a77b856404fb8c81f81e*/
}




