<br>
<!-- About Section -->
<br> 
<br>
<div class="minitron"><br><br>
  <center><h1>ABOUT US</h1></center></div>
<br><h3><center> Chloe is a writer, artist, and photographer from New Jersey.<br> She has her own fashion blog called <a href="https://www.themegababe.com">The Mega Babe </a>and is the <br>founder and Editor-in-Chief of feminist magazine, <a href="https://www.kekemagazine.com"> Keke Magazine.</a> <br> Chloe is passionate about art, the environment, and traveling. </a> </h3></center>
<br>
<center><h3>Kelly is a musician, soccer player, skier, and girl scout. Kelly <br>lives in New Jersey and enjoys interacting with her community.</h3></center>
<br>
<br>
<center><img src="http://i64.tinypic.com/cmiyf.jpg" width= 560px, height= 400x></center>

<center><h3>Karlie working with Chloe and Kelly!</h3></center>
<br>
<br>
<br>
<br>
<br>