<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="index.css" rel="stylesheet" type="text/css" />

    
    <style>
    
    
    * {
    box-sizing: border-box;
    }

/* Create three equal columns that floats next to each other */
    .column {
    float: justify;
    width: 70.33%;
    padding: 80px;
    height: 500px; /* Should be removed. Only for demonstration */
    }

/* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
   a:link {
      color: yellow;
      text-decoration: none;
      
    }
    
    a:visited {
      color: yellow;
      text-decoration: none;
    }
    
    a:hover {
      color: pink;
      text-decoration: none;
    }
</style>
  </head>
  <body>
    <div class="column">
      <div class="row">
    <h1>About Us</h1>

      <br>
        <img src="http://i65.tinypic.com/v4njmv.png">
          <br>
          <br>   
          <p>Similar to Hollywood, the music industry lacks gender diversity. Female artists are vastly underrepresented, and the industry remains a male-saturated business. Although many female artists have gained world-wide recognition, even more male artists are recognized in popular music. A study by the USC Annenberg Inclusion Initiative found many disparities: in an analysis from top 600 songs from 2012 to 2017, the study found that of the 1, 239 performing artists, 22.4 percent of them were women. Additionally, of the 2, 736 songwriters credited in those songs, only 12.3 percent were women. Female producers are even rarer, at just 2 percent in a subset of 300 songs across this same period, the study found.  
               
      <br>
      <br>
      Major Key’s approach to solving this issue is to start with the listener. By bringing connected listeners to female artists, we hope to bring awareness to a wide range of talent, and more importantly, a wide range of good music. Step by step, one more female artist listened to, we hope to bridge the gap in the industry.  
      
      <br><br>
</p>

      <h1>Resources</h1>

      <a href = "https://www.nytimes.com/2018/01/25/arts/music/music-industry-gender-study-women-artists-producers.html">Gender Diversity In The Music Industry? The Numbers Are Grim</a>
      <a href = "https://www.rollingstone.com/music/music-news/new-study-music-industrys-greatest-gender-disparity-is-behind-the-scenes-203036/">New Study: Music Industry’s Greatest Gender Disparity Is Behind the Scenes</a>
      <a href = "https://www.npr.org/sections/therecord/2018/02/06/583464118/women-in-the-music-industry-call-for-evolution-at-the-grammys">Women In The Music Industry Call For 'Evolution' At The Grammys</a>
      <a href = "https://www.billboard.com/articles/news/8096196/new-report-shows-major-lack-representation-women-music-industry">New Report Shows Major Lack of Representation by Women in the Music Industry</a>
      <a href = "https://humanhuman.com/articles/women-in-the-music-business">Women In The Music Industry</a>
      <a href = "https://www.npr.org/2018/07/30/633437514/women-are-the-fabric-of-21st-century-pop">Women Are The Fabric Of 21st Century Pop</a>
 
      <br><br><br>
      </div>
      </div>

  </body>
</html>