<br>
<br>
<br>
<div class="minitron">
  <br>
  <center><h1>TAKE ACTION!</h1></center>
</div>

<h3><center> As a consumer, there are many ways to make better clothing choices, from <br>purchasing less clothes to purchashing from sustainable companies. </h3></center>

<center><h2><u> Boycott Bad Brands </center></h2></u>
<br>
<center><img src="http://i65.tinypic.com/ehyzv4.jpg" width="600" height="300"><center>
<br>
<h4><center>Companies are mainly after money, but at the end of the day, what matters most are the opinions of the consumers. As the <br>consumers, it is our job to start speaking up, contacting these brands, and boycotting companies that are causing pain to both <br>the environment and their workers.</h4></center>

<h4><center>Before purchasing from a company, make sure to do your research about the company's supply chain, production practices, etc. <br>Companies that are infamous for their cheap labor and material are listed in the photo above, but there are definitely more companies<br> who are unfortunately doing the same things. It is important that we don't purchase from these "fast fashion" brands, while also <br>reaching out to them to let them know your dissatisfaction.</h4></center>
<br>
<center><button type="button" class="btn-btn-link"><a href="https://www.fashionrevolution.org/about/get-involved/">SEND A LETTER TO A COMPANY
</a></button></center>
<br>
<center><h2><u> Quality Over Quantity</center></h2></u>
<br>
<center><div class="row">
  <div class="column">
    <img src="http://i67.tinypic.com/2h4z3tw.png"  style="width:24%"hspace="25">
    
     <img src="http://i65.tinypic.com/33aux3d.jpg"  style="width:30%">
  </div>
  </div></center>
<!-- </div> -->
<br>

<h4><center>While it would be nice if sustainable clothing was affordable, paying employees higher wages and <br> working with eco-friendly fabrics causes a rise in prices. However, sustainable clothing is better <br> quality, due to sustainable clothing companies paying more attention to the materials they use. Rather <br>than buying more clothes than we typically wear, we should focus more on buying a few pieces <br>that might be more expensive, but will get more use out of, allowing for a decrease in clothing waste.</h4></center>
<h4><center><i><b>Here are some brands that are sustainable:</i></h4></center></b>
<center><ul>
  <h4><a href="https://www.thereformation.com/">The Reformation</a>
    <br>
  <a href="https://www.patagonia.com/home/">Patagonia</a>
    <br>
  <a href="https://www.everlane.com/">Everlane</a>
    <br>
  <a href="https://www.eileenfisher.com/">Eileen Fisher</a>
    <br>
  <a href="http://www.peopletree.co.uk/"">People Tree</a>
    <br>
  <a href="https://www.stellamccartney.com/us">Stella McCartney</a>
    <br>
  <a href="http://www.thegoodtrade.com/features/fair-trade-clothing">More here</a>
  </ul></center></h4>
    <br>
<br>

<center><h2><u>Thrifting</center></h2></u>
<br>
<center><img src="http://i65.tinypic.com/xngr55.jpg" width="400" height="200"></center>
<br>
<center><h4>If you can’t afford to spend a lot of money on clothing another option for being a sustainable shopper is thrifting.<br> Thrifting helps reduce the amount of clothing thrown out by giving people the opportunity to wear used or unwanted<br> clothing. If you don’t live close to a thrift store another option is to sell and buy used clothes on an app or online. <br>A few options are <a href="https://poshmark.com/">Poshmark</a>,<a href="https://www.thredup.com/"> Thredup</a>, <a href="https://www.depop.com/">Depop</a>, and <a href="https://www.vinted.com/">Vinted</a>.</center></h4>
<br>
<center><button type="button" class="btn-btn-link"><a href="http://www.thethriftshopper.com/">FIND A THRIFT SHOP NEAR YOU</a></button></center>
 </h4></center></div>
 <br>
 <br>


<h2><center><u>Other Actions:</h2></center></u>
  <!-- <h4><center>There are many good organizations that take donations to
    <a href=""></a> -->

<center><h4>Another great way to help both the environment and people who are experiencing harsh labor conditions is to donate to an organization that<br> is passionate about the cause. Don't forget that everything you say makes a difference. Help spread the word using your social media accounts! </h4></center>
<br>
<br>
<center><button type="button" class="btn-btn-link"><a href="https://labourbehindthelabel.org/donate/">CLICK HERE TO DONATE TO LABOUR BEHIND THE LABEL</button></center>
<br>
<center><button type="button" class="btn-btn-link"><a href=
"https://labourbehindthelabel.org/join-our-army/">CLICK HERE TO BECOME AN ACTIVIST FOR LABOUR BEHIND THE LABEL</button></center>




<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>