

<br>
<br>
<br>
<br>
  <center> 
  <img src="http://i63.tinypic.com/2pr5k77.png" height= "30%" width = "30%"> </center>
<!--  <nav class="navbar navbar-default navbar-fixed-top">-->
<!--  <div class="container">-->
<!--    <div class="navbar-header">-->
<!--      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">-->
<!--        <span class="icon-bar"></span>-->
<!--        <span class="icon-bar"></span>-->
<!--        <span class="icon-bar"></span> -->
<!--      </button>-->
<!--      <a class="navbar-brand" href="/index">ECO-STYLE</a>-->
<!--    </div>-->
<!--    <div class="collapse navbar-collapse" id="myNavbar">-->
<!--      <ul class="nav navbar-nav navbar-right">-->
<!--        <li><a href="/index">INFO</a></li>-->
<!--        <li><a href="/resources">RESOURCES</a></li>-->
<!--        <li><a href="/action">TAKE ACTION</a></li>-->
<!--        <li><a href="/inspiration">INSPIRATION</a></li>-->
<!--        <li><a href="/about">ABOUT US</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
  <div class="jumbotron">
  <center><h1>FAST FASHION IS FATAL</h1></center>
  <center><p>Do you know the true cost of fashion?</p></center>
 <center><i><h5>Scroll to Learn More</center></i></h5>
</div>

<div class="colorswag">
  <br>
  <br>
  <center><i> What comes to mind when you think about fashion? 
  <Br>Runways? Models? Designers?</i> 
    
  
  <h2> Unfortunately, fashion is not as glamorous as you may think. </h2>
</center>
<br>
<br>
<br>
</div>


<div class="colorswagtwo">
  <br>
  <br>
<center> Have you ever thought what fashion is—beyond the clothes and the glamour? <br>Have you ever thought about the impact you make with each piece of clothing<br> you buy—beyond improving your closet?<br> We are only exposed to the manicured parts of fashion—from models to floral prints. <br>Blinded by the glamour, we are unable to see the dark truths that it is built upon. </center>
<br>
<br>
</div>

<div class="colorswagthree">
  <br>
  <br>
  <center><b>fast fashion</b> <i>/noun/</i>: When companies manufacture clothes quickly and cheaply <br>in order to meet consumer demands to follow trends. This process has become popular<br> for large fashion companies, such as H&M and Zara, because of our demand for trendy <br>clothes. However, trends only last a few months at a time, so to match their market, <br>companies only manufacture styles for a few months at a time—causing them to opt <br>for cheap labor and materials.</center>
  <br>
  <center><img src="http://i64.tinypic.com/2410a2r.png" width="900" height="300"></center>
  <br>
  </div>

<div class="colorswagfour">
  <section>
  <br>
  <b><center><h1>FAST FASHION KILLS THE ENVIRONMENT.</b></h1>
  <b>The fashion industry is the second most wasteful industry in this world.</b></center>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <br>
              <br>
              <img src="http://i66.tinypic.com/2i0q5op.png" width="540" height="320">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">We are only keeping clothing items half as long as we did 15 years ago, choosing to throw out a piece of clothing after only wearing it 7 or 8 times.
                
              But instead of recycling, our clothes are thrown into landfills and dumps or incinerated. Clothes, which use fabrics like acrylic, polyester, and nylon take hundreds of years to fully dispose. When landfills overflow, they flow into oceans—polluting them with half a million tons of microfibers every year, equivalent to more than 50 billion plastic bottles. </h2>
            </div>
          </div>
        </div>
      </div>
    </section>
<br>
<br>
  
<div class="colorswagfive">
  <section>
  <br>
    <div class="container">
      <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <class="display-4"><i>“There is a joke in China that you can tell the “it” color of the season by looking at the color of the rivers.” -Orsola de Castro.</i>
              <h3>Countries like China and India, where clothes are primarily manufactured, face the most pollution because of all the chemical waste produced from constant manufacturing. However, pollution is only the beginning of the domino effect of consequences. In India, 844 million people do not have access to clean water, yet factories continue to dump their wastewater into the rivers—further reducing the amount of clean water available.</h3>
            </div>
        </div>
      <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <br>
              <br>
              <img src="http://i67.tinypic.com/2j14i6f.jpg" width="550" height="350">
            </div>
            <br>
          </div>
    </div>
    <br>
    <br>
  </section> 
</div>

<div class="swagsix">
  <br>
  <br>
  <center><h1><b>FAST FASHION KILLS ITS WORKERS.</b></h1></center>
  <br>
<center>While we are able to enjoy the benefits of a wide variety of trendy clothes displayed in air conditioned malls,<br> the workers who create these clothes for us are suffering at our expense. On April 24, 2013, it was just another <br>working day for a factory worker named Rupaly, a machinist in the sixth floor of the Rana Plaza building in <br>Bangladesh. Once she got inside, she noticed there were cracks on the walls, and a crowd of workers were<br> standing together, refusing to go in because of this. Yet, supervisors declared that this wasn’t a big deal—threatening<br> to pay only those who decided to work. Of course, no workers could risk this—the majority of garment workers<br> in Bangladesh are only paid a little over $33 dollars a month. About an hour after Rupaly came to work, the floor <br>began to sink. She tried to run, but the walls around her began to collapse and the entire building was rumbling—<br>like a hybrid earthquake-landslide. Despite her efforts to escape, Rupaly was stuck. She was lying down, barely <br>conscious, next to other bodies and people, crushed under the rubble like her. After 14 hours, Rupaly was luckily<br> rescued alive. 1138 other garment workers at Rana Plaza were not as lucky as her. 
</center>
<br>
<center><div class="row">
  <div class="column">
    <img src="https://www.fashionrevolution.org/wp-content/uploads/2017/04/Rupaly-in-2015_Old-Photos20150316_0634.jpg" style="width:40%" hspace="20">
    
     <img src="https://cdn.vox-cdn.com/thumbor/6aSSbaSR-w9Jljl7sj10aEXxfWg=/0x0:3546x2364/1200x675/filters:focal(1490x899:2056x1465)/cdn.vox-cdn.com/uploads/chorus_image/image/59370479/GettyImages_470780584.0.jpg " style="width:40%">
  </div>
  </div></center>
  <br>
  <br>
  <br>
</div>
<div class="swagseven">
 <!-- <center> <div class="column">
    <h3>Companies pay factory workers little and don't allocate a budget to maintain factories in order to keep clothes cheap for consumers to purchase.</h3 hspace="20"> -->
    <div class="container">
      <br>
      <br>
      <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">   Companies pay factory workers little and don't allocate a budget to maintain factories in order to keep clothes cheap for consumers to purchase.</h2>
            </div>
        </div>
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img src="https://www.trustedclothes.com/blog/wp-content/uploads/2016/06/tshirt-graphic_costcomparrison.jpg" width="550" height="350">
            </div>
            <br>
          </div>
    </div>
    <br>
  </section> 
</div>

<div class="sus">
<br>
  <center> Fashion can be fun and glamorous, but without change, fashion is fatal. </center>
  <center><button type="button" class="btn-btn-link"><a href="/action">CLICK TO HELP CHANGE THE WORLD.</a></button></center>
  <br>
</div>


