<br>
<br>
<br>
<br>
<div class="minitron"><br><br>
  <center><h1>INSPIRATION</h1></center></div>
<center><h3>Thrifting is a good option when shopping for new clothes! <br> You can find clothes for as little as $2, but are still very stylish. <br>Thrift shopping also helps the environment, because instead of<br> clothes being thrown out, they are recycled with your purchase! You can <br> watch the videos below to learn more about the thrift shopping experience.</h3></center>
<br>
<br>
<center> <iframe width="530" height="305" src="https://www.youtube.com/embed/25lQA2nop84" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<iframe width="530" height="305" src="https://www.youtube.com/embed/onKXwCkJANM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></center>
<br>
<center><iframe width="530" height="305" src="https://www.youtube.com/embed/V5TGW37IthA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<iframe width="530" height="305" src="https://www.youtube.com/embed/rqbztOdnwI0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></center>
<br>
<br>
<br>
    <section>
    <h3><center>The following are people paving the way for a more sustainable and humane fashion industry.</center></h3>
  <br>
  <br>
     <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <center>
              <img src="http://i66.tinypic.com/t80ln4.jpg" width="540" height="400">
            </div>
          </div>
          <br>
          <br>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">Yael Aflalo of The Reformation</h2>
              <h4>Yael Afalo is the CEO of The Reformation, a fashion brand that ensures that all fabrics are made from sustainable materials, and created from safe and environmentally friendly factories. The Reformation is aware of the destructive nature of fast fashion, so they make sure that their entire process—from purchasing to creating retail stores—is environmentally and human friendly.</h4>
            </div>
          </div>
        </div>
      </div>
    </section>
  <br>
  <br>
  <br>
        <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <center> <img src="http://i63.tinypic.com/346niaf.jpg" height="300",width="120" alt=""></center>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <h2 class="display-4">Simone Cipriani</h2>
              <h4>Simon Cirpriani is an officer of the United Nations. He created the Ethical Fashion Initiative of the International Trade Centre (ITC). Through this initiative, he works to connect designer fashion brands with artisans from the developing world. Simon has created a hub for creative manufacturing and production in countries such as Ghana and Uganda, using fair trade labour and ethical fashion practices.</h4>
            </div>
          </div>
        </div>
      </div>
    </section>
<br>
<br>
<br>
<section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <center> <img src="https://hernetworkbu.files.wordpress.com/2016/01/rose.jpg" height="350",width="170" alt=""></center>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <h2 class="display-4">Rose Marcario of Patagonia</h2>
              <h4>Rose Marcario is the CEO Patagonia who has made it her mission to make Patagonia successful while being sustainable. Before joining Patagonia, Marcario had worked doing numerous corporate  jobs, including CFO of General Magic, however, she felt like her past positions focused more on money as opposed to morals. Marcario ended up leaving her past position and joined Patagonia as the new CFO. During her first few years at Patagonia her decisions were often influenced by her love for the environment. For example she started having online items sent in recyclable bags.  After six years of working for Patagonia, Marcario was promoted to CEO and has continued to make sure the company continues to be sustainable.</h4>
            </div>
          </div>
        </div>
      </div>
    </section>
  <br>
  <br>
  <br>
<section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <center> <img src ="http://www.celebzz.com/wp-content/uploads/2017/12/stella-mccartney-at-the-british-fashion-awards-arrivals-royal-albert-hall-london-uk-51.jpg" width= "354" height="500"></center>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <h2 class="display-4">Stella McCartney</h2>
              <h4>Stella McCartney is a British fashion designer who started her own clothing line. Before starting her own line McCartney had worked with numerous designer luxury brands such as Chloé, Gucci, and H&M. One of the things that had always been unique about McCartney was her refusal to use animal products in any of the designs she had created. Once she had created her own high-end designer brand one of the most important things she wanted to incorporate into her brand was sustainable clothing. In 2017 McCartney received a Special Recognition Award for Innovation at The Fashion Awards 2017. This award highlighted the fact that a designer doesn’t have to hurt the environment in order to be successful.</h4>
            </div>
          </div>
        </div>
      </div>
    </section>




  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>