<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="index.css" rel="stylesheet" type="text/css" />

    <style>
    h2{
      color: white;
    }
    * {
    box-sizing: border-box;
    }

/* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 50px;
    height: 500px; /* Should be removed. Only for demonstration */
  }
  
/* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  </style>
</head>

  <body>
    <div class="row">
      <div class="column">
        <br><br><br><br>
        <h1><b>Women Of:</b> A Collection of Spotify Playlists</h1>
        <p>Regardless of whether or not an artist was discovered, and an artist was listened to endlessly, there are still so many female artists out there, making music for you! The possibilities are endless, and they are right here in front of you.</p>
      </div>
      
      <div class="column">
        <br><br><br><br>
          <iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1DX3WvGXE8FqYX" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
  
      <div class="column">
        <br><br><br><br>
          <iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1DX49poIUZYXp7" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
    </div>

    <div class ="row">
      <div class = "column">
        <br><br><br><br>
          <iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1DX91UQmVbQYyN" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
        
      <div class = "column">
        <br><br><br><br>
          <iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1DX5OepaGriAIm" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
        
      <div class = "column">
        <br><br><br><br>
          <iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1DXd0ZFXhY0CRF" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
    </div>
    
    <div class = "row">
      <div class = "column">
        <br><br><br><br>
        <iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1DX6Cy4Vr7Hu2y" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      
      <div class = "column">
        <br><br><br><br>
        <iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1DXbuvqGDV5qgQ" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      
      <div class = "column">
        <br><br><br><br>
        <iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1DX5l9rcXWdrth" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      
    </div>
    
    <div class = "row">
      <div class = "column">
        <br><br><br><br>
        <iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1DX1wNY9tfWQsS" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <br><br><br><br>
      </div>
      
      <div class = "column">
        <br><br><br><br>
        <iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1DX7XF2hFaHoss" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <br><br><br><br>
      </div>
      
      <div class = "column">
        <br><br><br><br>
        <iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1DWVrSccL9KVUt" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <br><br><br><br>
      </div>
    </div>
    
    <br><br><br><br>

  </body>
</html>