<div class="minitron"><center><br><br><br><br><h1>RESOURCES</h1></center>
</div>
<br>
<br>
<div class="container">
<center><h2> The following are some resources that can give you more information <br>on sustainbility in fashion and help lead you on the path to sustainable purchasing. </h2></center>
<h3><center><u> Overall: </h3></center></u>
  <h4><center>
<h4><center><a href="https://www.fashionrevolution.org/">Fashion Revolution</a>
<h4><center><a href="https://www.loveyourclothes.org.uk/">Love Your Clothes (from UK)</a></center></h4>
<h4><center><a href="http://remake.world/">Remake World</a></h4></center>
<h4><center><a href="https://www.ellenmacarthurfoundation.org/assets/downloads/publications/A-New-Textiles-Economy_Full-Report_Updated_1-12-17.pdf">"A New Textiles Economy" report</a>
<h4><center><a href="https://circularfashion.com/">Circular Fashion</h4></center></a>
<h3><center><u> Recycling: </h3></center></u>
  <h4><center> <a href="http://WEARDONATERECYCLE.ORG">Wear Donate Reycle </a><h4></center>
  <h4><center> <a href="http://REPURPOSENJ.ORG">Repurpose NJ</a><h4></center>
  <h4><center> <a href= "https://www.grownyc.org/clothing?gclid=CjwKCAjwwdTbBRAIEiwAYQf_E7VYyTvvXqiFsPjYrX9wYr0thXDQu6O-hhPKWu92rYvVV6_al4VsBxoCXWcQAvD_BwE">Grow NYC</a>
<h3><center><u> Labor: </h3></center></u>
  <h4><center> <a href="https://truecostmovie.com/">"The True Cost" Documentary </a><h4></center>
  <h4><center> <a href=""> 
  <h4><center> <a href="http://labourbehindthelabel.org">Labour Behind the Label </a><h4></center>
<h3><center><u> Supply Chain: </h3></center></u>
<h4><center> <a href="https://knowthechain.org/">Know The Chain</a>
<h3><center><u> Media: </h3></center></u>
<h4><center><a href="https://www.thelissome.com/">The Lissome Magazine</a></center></h4>
<center><img src="http://i64.tinypic.com/2upbew1.jpg" height="600px" width="900px"></center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>