<body> 
<h1> 
<html>
    <!DOCTYPE html>
      <div class="knockout"> 
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>The Intern's State of Mind</b></a>
    <div class="w3-left w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">About us</a>
      <a href="#The-Sorting-Survey" class="w3-bar-item w3-button">Survey</a>
      
    
    </div>
  </div>
</div> 
</html>


<% @categories.each do |category| %>

  <p class= "knockout"><%= category %></p> 
  
  <% if category == "Fashion/Beauty" %>
    <center> <p> You picked fashion and beauty!</p>
    <center> <img src= "https://mail.google.com/mail/u/0/?ui=2&ik=a42f676227&view=att&th=16547cc2549a4690&attid=0.7&disp=safe&zw">

    <p class= "knockout"> Program: </p>
        Banson NYC Summer Fashion Camp 2019
  First serve, first come!
 Summer 2019 NYC Fashion Summer Camps
<p class= "kwkfont">
Session A: 6/16/19 – 6/22/19, Session B: 7/7/19 – 7/13/19
</p>
     <p>
     Banson NYC is excited to offer 2 NYC Fashion Summer Camps for high school students in 2019.  They are  designed for teens entering 9th through 12th grades.  Each week-long session will teach the students the fundamentals of the fashion industry by providing an insider's perspective.  The students will stay at the LIM College Residence Hall on the Upper East Side.  Each morning the group will be picked up at the dorm by a Banson NYC representative.   From there we will depart for our visits, seminars and activities of the day. Each evening will have group activities planned.  There will be a 1:5 - 1:8 adult:student ratio throughout the day-camp hours.  All of the supervisors will be at least 21 and fully knowledgeable about NYC and the transit system.  Enrollment is limited to 20 campers per session.  We accept applications on a first come, first served basis.
      
      Link: https://www.bansonnyc.com/ 
      </p>
      <p>
      <p  class= "knockout"> Internship: </p>  
      <p class= "kwkfont" > </p>
      Makeup Internship at NINA MUA Makeup School.
      Paid - $50 - $100 per week for travel and meals.
      
      Link: https://www.barefootstudent.com/new_york/jobs/internships/
      intern_student_for_makeup_school_1920335930  
      </p>
    <%end%>

    <% if category == "Books/reading" %>
      <p> 
      <p class= "knockout"> Internship </p>
      Simon and Schuster Internship
    Description:The Simon & Schuster Internship Program participants will have an unmatched, behind-the-scenes learning experience. Though interns work within specific departments, they are able to explore all aspects of the business of book publishing through speaker presentations, mentoring relationships and networking opportunities.
    Program Details:
    Interns are placed within specific imprints or divisions on either the adult or children’s side of the business based on interest, experience, academic coursework, and the Simon & Schuster business needs. Past assignments have typically been within editorial, marketing, and publicity departments.
    Interns will both shadow and work alongside publishing professionals. They will also attend meetings and events and participate in weekly lunch and learn programs designed specifically for the intern class.
    Each year will have three 10 week programs to represent the Summer, Fall and Spring sessions. The summer session will be 35 hours a week and the Fall and Spring sessions will be a minimum of 16-20 hours a week to accommodate the interns’ academic schedules.
    
    Interns will be paid hourly and will be required to fill out a weekly time sheet.
    Link: http://about.simonandschuster.biz/internships-at-simon-schuster/ 
    </p>
    <%end%>


    <% if category == "Entertainment" %>
      <p class= "knockout"> Program: </p>
        
      <p>  ADLER YOUTH GROUP - Stella Adler Studio. </p>
    Program Description: The centerpiece of the Outreach Division, this program currently interviews close to 100 high school students annually and selects 18 to train in a free year-long program, with a possible second year by invitation. Students train in voice, movement, improv and acting in a conservatory environment. They are led by the Studio’s world-class faculty, and engage daily with students of the full-time conservatory programs as well as alumni and international guest artists. While Adler Youth students are trained with the same intensity and integrity as conservatory students, this program is not concerned with creating professional actors, but rather empowering strong, confident, thoughtful human beings.Link:https://stellaadler.com/outreach/adler-youth-group/  </p>
    
     <p class= "knockout"> Program: </p> 
     <p> FREE acting program at The Barrow Group! </p>
     
    Program Description: We are pleased to announce that Citrin Foundation has generously donated funds for 12 students to study at The Barrow Group this year.  Scholarship applications are now closed for the Summer 2018 session. We will begin accepting applications for Fall 2018 in July. Check back for more info.
    
     Link: https://www.barrowgroup.org/acting-school/classes/youth-programs/citrin-scholarship 
     </p>
    <%end%>
    
    <% if category == "STEM" %> 
    
    <p class= "knockout"> Internship/Program: </p>
       American Museum of Natural History - After school program, SRMP,  Saltz Internship!
    
    <p>Want to learn more about our universe, or publish a scientific research paper? Apply for a program at AMNH! 
    Session 1 - After school program classes application available! </p>
    <p>
    Link: https://www.amnh.org/learn-teach 
    </p>
    
    <p> Mount Sinai Hospital Basic Science Laboratory Research Volunteer</p>
    <p>
    Students have the opportunity to assist the professional research staff. Training and supervision is provided.</p>
    <p>
    This volunteer position requires:
    High School Students
    Minimum hours: Several hours per week for 4 consecutive months during the academic year
    College Students
    Minimum hours: 15 hours per week for 4 consecutive months during the academic year
    Minimum age: 15 for computer-based research; 16 for wet lab research
    Times to Volunteer: Monday - Friday 9am - 5pm; or at the discretion of the supervising researcher</p>
    
    
    <p>Link: https://www.mountsinai.org/locations/mount-sinai/about/volunteer/student-research  
    </p>
    <p>
    Kode With Klossy </p>
    <p>Kode With Klossy empowers girls to learn to code and become leaders in tech. Founded in 2015 when Karlie Kloss began learning to code, Kode With Klossy hosts coding summer camps for girls aged 13-18 and fosters a national community furthering opportunities for girls in tech.</p>
    <p>
    Link: https://www.kodewithklossy.com/ 
    </p>
    <p>
     Girls Who Code Summer Immersion Program and Internship Opportunities </p>
     <p>
    Description: Description: Launched in Spring 2012, Girls Who Code is a national nonprofit organization working to close the gender gap in the technology and engineering sectors. Applicants for the Girls Who Code Summer Immersion Program must be a current sophomore or junior in high school. Participants in the Summer Immersion Program must commit to attending the full 8-week program in New York City, San Francisco, San Jose, Davis, or Detroit. The program runs Monday to Friday, 9am to 5pm. Alternatively, young ladies hoping to intern at a Girls Who Code office, should send a cover letter, resume, and references to jobs (at) girlswhocode.com with “Intern” and the location to which you are applying in the subject line.
    </p>
    <p>
    Additional Information:
    Email: jobs@girlswhocode.com
    Link: http://www.girlswhocode.com/applynow/  
    </p>
    <%end%>

    <% if category == "Law" %> 
    <p>  The Community Affairs Bureau's Youth Services Section </p>
    <p>
    Description:Description: Youth Services aims to reduce youth violence, prevent drug use, promote child safety, and improve relationships between police and young people, with a special emphasis on youth most at risk.
    </p>
    <p>
    Additional Information:
    Phone: (646) 610-5323 
    Website:http://www.nyc.gov/html/nypd/html/community_affairs/youth_programs.shtml “ 
    </p>
  
    <p>  Thurgood Marshall Summer Law Internship </p>
    <p>
    Description: The Thurgood Marshall Summer Law Internship Program is an intensive program which places high-achieving inner-city high school students with legal employers for the summer, and provides them with additional programming before, during, and after the summer designed to help them prepare for a legal career.
    </p>
    <p>
    Additional Information:
    Contact: Clare Plunkett, Diversity Coordinator
    Phone: (212) 382-6772
    Email: cplunkett@nycbar.org
    Website: http://www.nycbar.org/diversity/student-pipeline-program/programs/thurgood- marshall-summer-law-internship-program 
    </p>
    
    <p> “ The Harlem Youth Court</p>
    <p>
    Description: The Harlem Youth Court trains teenagers to serve as jurors,judges and attorneys, handling real-life cases involving their peers. In these roles, youth court members determine fair and appropriate sanctions for youthful offenders who are referred to the Harlem Youth Court by schools, police precincts, and criminal court.
    </p>
    <p>
    Additional Information:
    Phone: (212) 360-4983
    Email: hyc@courtinnovation.org Website: www.harlemyouthcourt.org “
    </p>
    
    
    <p> “ Hispanic National Bar Foundation’s Future Latino Leaders Law Camp</p>
    <p>
    Description: The Future Latino Leaders Law Camp is a nine-day program in Washington, D.C., held by the HNBF and provides for 30 Latino high school students to learn more about the legal profession. The Law Camp is offered cost-free! Students must be in high school, entering his or her sophomore, junior, or senior year or be a recent graduate.
    </p>
    <p>
    Additional Information:
    Contact: Christie Lewis, Interim Executive Director
    Email: clewis@hnbf.org
    Phone: (202) 496-7206
    Website: http://www.hnbf.org/content/future-latino-leaders “ 
    </p>
    <%end%>

    <% if category == "Business" %> 
    <p>  Finance Academy at Fordham University program </p>
    <p>
    Age: 18+
    Fee 
    Description: The Gabelli School of Business introduces the Finance Academy, a program geared toward students who envision the possibility of finance in their future. 
    This program could put you significantly ahead.
    Program benefits:
    Meet finance industry professionals
    Learn finance fundamentals over the course of one week
    Apply what you’ve learned in an interactive finance exercise
    </p>
    <p>
    Link: https://www.fordham.edu/info/25162/summer_business_programs/8826/finance_academy_managing_investments_and_risk  
    </p> 
    <p> 
    “ NYC Ladders for Leaders program </p>
    <p>
    The Ladders for Leaders is a nationally recognized program that offers high school and college students the opportunity to participate in paid professional summer internships with leading corporations, non-profit organizations and government agencies in New York City. The program is an initiative of the NYC Department of Youth and Community Development (DYCD) and supported by the NYC Center for Youth Employment and the Mayor's Fund to Advance New York City.
    </p>
    <p>
    Link: https://www1.nyc.gov/site/dycd/services/jobs-internships/nyc-ladders-for-leaders.page “
    </p>
    <p>
     NYC Small Businesses services </p>
     <p>
    -10 steps to starting your own Business course 
    09/06/2018
    Bronx, NY 
    One session 
    </p>
    <p>
    Link: https://www.eventbrite.com/e/10-steps-to-starting-your-own-business-1-session-bronx-09062018-tickets-48699726192?aff=ebapi
    </p>
    <p>
    Description: This course provides a basic overview of the steps you'll need to take to start a business and how NYC Business Solutions can guide you through each step along the way.
    </p>
    <p>
    Course length: 2 hours
    You will learn about:
    	How to develop a business plan
    	How to determine your legal structure
    	How to set up your bookkeeping
    	How to get permits and licenses
    	How to obtain financing
    </p>
    <%end%>
    
    
    <% if category == "Art" %>
    <p > 
   The Metropolitan Museum Of Art
An amazing art internship at The Met! Calling all artists, writers, thinkers, and designers! Interested in finding out about careers in museums? Apply for a high school internship at The Met to meet experts, find mentors, make friends, gain professional experience, and more..
(Internship) https://www.metmuseum.org/about-the-met/internships 
</p>
    <% end %>

    <% if category == "Education" %> 
    <p> “ Hunter College - College</p>
    <p>New program offers
    Free college courses for high school students!</p>
    Year-round. Over 2,000 students had the opportunity to take a college course in high school! </p>
    <p>
    Description: College Now is a collaboration between the City University of New York (CUNY) and the New York City Department of Education that prepares public high school students for successful academic performance in college.
    </p>
    <p>
    Hunter’s College Now program focuses on courses for college or high school credit and other enrichment activities in the humanities, arts, social sciences, sciences and mathematics, all taught by our own full-time or adjunct faculty. Our mission is to introduce high school students of varying skill levels to the rigors and rewards of higher education by connecting them to high-quality scholarship and instruction. All students participate for free.</p>
    <p>
    To cultivate the college experience, we hold class on our campus, where students may use our libraries, computer labs, tutorial centers, and dining facilities. We frame the college experience with formal orientations and support services specially designed for the high school level.
    Each year, more than 2,000 students from NYC public high schools attend one or more Hunter College Now activities.</p>
    <p>
    Link:
    http://www.hunter.cuny.edu/college-now/ “ 
    </p>
    <p>
    “ Summer Youth Employment Program</p>
    <p>
    A lottery based, 6 week program for young adults. Get work experience for your resume! Variety of jobs given, changes every year.
    Summer time only.</p>
    <p>
    Link: https://www1.nyc.gov/site/dycd/services/jobs-internships/summer-youth-employment-program-syep.page
     “ 
    </p>
    <%end%>
 
  
<%end%>
  

 </body> 
